<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="generator" content={Astro.generator} />
        <title>Tolkien Frost Blog</title>
    </head>
    <body>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/blog">Blog</a>
        <h1>Tolkien Frost Blog Page</h1>
        <section>
            <ul>
                <li><a href="/posts/post-1">Post 1</a></li> <!-- Added link to Post 1 -->
                <li><a href="/posts/post-2">Post 2</a></li> <!-- Added link to Post 2 -->
                <li><a href="/posts/post-3">Post 3</a></li> <!-- Added link to Post 3 -->
            </ul>
        </section>
    </body>
</html>
